<div class="row">
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    Base Info
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> title </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="username"><%=content.title%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> publish date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="country"><%=content.publish_date%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> url </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="age">
                                       <a href="<%=content.source_url%>" target="_blank">click</a>
                                    </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> fetch date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="signup"><%=content.fetch_date%></span>
                                </div>
                            </div>

                        </div>

                    </div>


                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    Data
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">
                        <p>
                            <%=content.content%>
                        </p>
                    </div>


                </div><!-- /widget-main -->

            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
</div>
<div class="hr  hr-dotted"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    Convert Info
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 250px; padding: 0px; position: relative;">

                    </div>

                </div><!-- /widget-main -->
                <div class="widget-toolbox padding-8 clearfix">
                    <button class="btn btn-xs btn-danger pull-left">
                        <i class="icon-remove"></i>
                        <span class="bigger-110">Cancel</span>
                    </button>

                    <button class="btn btn-xs btn-success pull-right">
                        <span class="bigger-110">Save</span>

                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>
                </div>
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
</div>