<div class="row">
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    基本信息
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> title </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="username"><%=content.title%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> publish date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="country"><%=moment(content.publish_date).format('YYYY-MM-DD hh:ss:mm')%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> url </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="age">
                                       <a href="<%=content.source_url%>" target="_blank">click</a>
                                    </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> fetch date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="signup"><%=moment(content.fetch_date).format('YYYY-MM-DD hh:ss:mm') %></span>
                                </div>
                            </div>

                        </div>

                    </div>


                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    数据
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">
                        <p>
                            <%=content.content%>
                        </p>
                    </div>


                </div><!-- /widget-main -->

            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
</div>
<div class="hr  hr-dotted"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    转换信息
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <form class="form-horizontal "  role="form">

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2">Company Name</label>
                                <div class="col-sm-1">
                                    <label>
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">Choose?</span>
                                    </label>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control col-sm-3" style="width:200px;"  >
                                        <option value="">&nbsp;</option>
                                        <option value="AL">Alabama</option>

                                    </select>
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="company_name"> Company Name </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_name" name="company_name" placeholder="Company Name" class="col-xs-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"> Company Address </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_address" name="company_address" placeholder="Company Address" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="company_fax"> Company Fax </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_fax" name="company_fax" placeholder="Company Fax" class="col-xs-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="company_tel"> Company Tel </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_tel" name="company_tel" placeholder="Username" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="sale_category"> Sale Category </label>

                                <div class="col-sm-4">
                                    <input type="text" id="sale_category" name="sale_category" placeholder="Sale Category" class="col-xs-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="contract_person">Contract Person </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_person" name="contract_person" placeholder="Contract Person" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="contract_phone"> Contract Phone </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_phone" name="contract_phone" placeholder="Contract Phone" class="col-xs-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="contract_email"> Contract Email </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_email" name="contract_email" placeholder="Contract Email" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="require_content"> Require Content </label>

                                <div class="col-sm-4">
                                    <textarea class="form-control" id="require_content" name="require_content" class="col-xs-10" style="width: 85%" placeholder="Require Content"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div><!-- /widget-main -->
            <div class="widget-toolbox padding-8 clearfix">
                <button class="btn btn-xs btn-danger pull-left">
                    <i class="icon-remove"></i>
                    <span class="bigger-110">Cancel</span>
                </button>

                <button class="btn btn-xs btn-success pull-right">
                    <span class="bigger-110">Save</span>

                    <i class="icon-arrow-right icon-on-right"></i>
                </button>
            </div>
        </div><!-- /widget-body -->
    </div><!-- /widget-box -->
</div>
</div>

<script>
    $(function(){


    })
</script>