<div class="row">
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    基本信息
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> title </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="username"><%=content.title%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> publish date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="country"><%=moment(content.publish_date).format('YYYY-MM-DD hh:ss:mm')%></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> url </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="age">
                                       <a href="<%=content.source_url%>" target="_blank">click</a>
                                    </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> fetch date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="signup"><%=moment(content.fetch_date).format('YYYY-MM-DD hh:ss:mm') %></span>
                                </div>
                            </div>

                        </div>

                    </div>


                </div><!-- /widget-main -->
            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
    <div class="col-sm-6">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    数据
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder" style="width: 90%; min-height: 100px; padding: 0px; position: relative;">
                        <p>
                            <%=content.content%>
                        </p>
                    </div>


                </div><!-- /widget-main -->

            </div><!-- /widget-body -->
        </div><!-- /widget-box -->
    </div>
</div>
<div class="hr  hr-dotted"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5>
                    <i class="icon-signal"></i>
                    转换信息
                </h5>

                <div class="widget-toolbar no-border">

                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <form class="form-horizontal" action="/content/convert" method="post"  role="form">

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="company_name">Company Name</label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_name" name="company_name" placeholder="Company Name" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="website"> Company Fax </label>

                                <div class="col-sm-4">
                                    <input type="text" id="website" name="website" placeholder="Website" class="col-xs-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"> Company Address </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_address" name="company_address" placeholder="Company Address" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="company_fax"> Company Fax </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_fax" name="company_fax" placeholder="Company Fax" class="col-xs-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="company_tel"> Company Tel </label>

                                <div class="col-sm-4">
                                    <input type="text" id="company_tel" name="company_tel" placeholder="Username" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="sale_category"> Sale Category </label>

                                <div class="col-sm-4">
                                    <input type="text" id="sale_category" name="sale_category" placeholder="Sale Category" class="col-xs-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="contract_person">Contract Person </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_person" name="contract_person" placeholder="Contract Person" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="contract_phone"> Contract Phone </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_phone" name="contract_phone" placeholder="Contract Phone" class="col-xs-10">
                                    <input type="hidden" name="content_id" value="<%= content._id%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="contract_email"> Contract Email </label>

                                <div class="col-sm-4">
                                    <input type="text" id="contract_email" name="contract_email" placeholder="Contract Email" class="col-xs-10">
                                </div>
                                <label class="col-sm-2 control-label no-padding-right" for="require_content"> Require Content </label>

                                <div class="col-sm-4">
                                    <textarea class="form-control" id="require_content" name="require_content" class="col-xs-10" style="width: 85%" placeholder="Require Content"></textarea>
                                    <input type="hidden" name="customer_id" id="customer_id">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div><!-- /widget-main -->
            <div class="widget-toolbox padding-8 clearfix">
                <button class="btn btn-xs btn-danger pull-left">
                    <i class="icon-remove"></i>
                    <span class="bigger-110">Cancel</span>
                </button>

                <button class="btn btn-xs btn-success pull-right" onclick="$('form').submit();">
                    <span class="bigger-110">Save</span>

                    <i class="icon-arrow-right icon-on-right"></i>
                </button>
            </div>
        </div><!-- /widget-body -->
    </div><!-- /widget-box -->
</div>
</div>
<script src="/public/libs/ace/js/jquery-ui-1.10.3.full.min.js"></script>

<script>
    $(function(){

        var copanies = [
            <% for(var i=0;i<customers.length;i++){ %>
            {
                value:"<%=customers[i].company_name%>",
                customer_id:"<%=customers[i]._id%>",
                company_address:"<%=customers[i].company_address%>",
                company_fax:"<%=customers[i].company_fax%>",
                company_tel:"<%=customers[i].company_tel%>",
                website:"<%=customers[i].website%>",
                sale_category:"<%=customers[i].sale_category%>",
                contract_email:"<%=customers[i].contract_email%>",
                contract_phone:"<%=customers[i].contract_phone%>",
                contract_person:"<%=customers[i].contract_person%>"
            },
            <% } %>
        ];

        $( "#company_name" ).autocomplete({
            source: copanies,
            select:function(event,ui){
                $('#company_address').val(ui.item.company_address);
                $('#company_fax').val(ui.item.company_fax);
                $('#company_tel').val(ui.item.company_tel);
                $('#sale_category').val(ui.item.sale_category);
                $('#contract_email').val(ui.item.contract_email);
                $('#contract_phone').val(ui.item.contract_phone);
                $('#contract_person').val(ui.item.contract_person);
                $('#website').val(ui.item.website);
                $('#customer_id').val(ui.item.customer_id);
                $('#require_content').focus();
            }
        });
    })
</script>