<div class="row">
    <div class="col-xs-3">
        <div class="widget-box">
            <div class="widget-header widget-header-smal header-color-dark">
                <h7>EG 1.2, 1.6 SKELP 삽니다!!</h7>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class=""></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                <div class="widget-main padding-4">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="slim-scroll" data-height="200" style="overflow: hidden; width: auto; height: 200px;">
                        <div class="content">
                            <p>재질은 내지문이고 폭은 130이상으로 구하고있습니다.</p><p>&nbsp;</p><p>저렴한 SKELP로 구하고 있으니 쪽지나 이메일로 연락주시면 </p><p>&nbsp;</p><p>바로 연락드리겠습니다.</p><p>&nbsp;</p><p>새해 복 많이 받으세요~</p>
                        </div>
                    </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 57.4448529411765px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
                </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <button class="btn btn-xs btn-danger pull-left">
                            <i class="icon-arrow-right"></i>
                            <span class="bigger-110">Redirect Origin</span>
                        </button>

                        <button class="btn btn-xs btn-success pull-right">
                            <span class="bigger-110">Edit</span>
                            <i class=" icon-edit"></i>
                        </button>
                    </div>
            </div></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="widget-box">
            <div class="widget-header widget-header-smal header-color-dark">
                <h7>EG 1.2, 1.6 SKELP 삽니다!!</h7>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class=""></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main padding-4">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="slim-scroll" data-height="200" style="overflow: hidden; width: auto; height: 200px;">
                            <div class="content">
                                <p>재질은 내지문이고 폭은 130이상으로 구하고있습니다.</p><p>&nbsp;</p><p>저렴한 SKELP로 구하고 있으니 쪽지나 이메일로 연락주시면 </p><p>&nbsp;</p><p>바로 연락드리겠습니다.</p><p>&nbsp;</p><p>새해 복 많이 받으세요~</p>
                            </div>
                        </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 57.4448529411765px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <button class="btn btn-xs btn-danger pull-left">
                            <i class="icon-arrow-right"></i>
                            <span class="bigger-110">Redirect Origin</span>
                        </button>

                        <button class="btn btn-xs btn-success pull-right">
                            <span class="bigger-110">Edit</span>
                            <i class=" icon-edit"></i>
                        </button>
                    </div>
                </div></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="widget-box">
            <div class="widget-header widget-header-smal header-color-dark">
                <h7>EG 1.2, 1.6 SKELP 삽니다!!</h7>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class=""></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main padding-4">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="slim-scroll" data-height="200" style="overflow: hidden; width: auto; height: 200px;">
                            <div class="content">
                                <p>재질은 내지문이고 폭은 130이상으로 구하고있습니다.</p><p>&nbsp;</p><p>저렴한 SKELP로 구하고 있으니 쪽지나 이메일로 연락주시면 </p><p>&nbsp;</p><p>바로 연락드리겠습니다.</p><p>&nbsp;</p><p>새해 복 많이 받으세요~</p>
                            </div>
                        </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 57.4448529411765px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <button class="btn btn-xs btn-danger pull-left">
                            <i class="icon-arrow-right"></i>
                            <span class="bigger-110">Redirect Origin</span>
                        </button>

                        <button class="btn btn-xs btn-success pull-right">
                            <span class="bigger-110">Edit</span>
                            <i class=" icon-edit"></i>
                        </button>
                    </div>
                </div></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="widget-box">
            <div class="widget-header widget-header-smal header-color-dark">
                <h7>EG 1.2, 1.6 SKELP 삽니다!!</h7>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class=""></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main padding-4">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="slim-scroll" data-height="200" style="overflow: hidden; width: auto; height: 200px;">
                            <div class="content">
                                <p>재질은 내지문이고 폭은 130이상으로 구하고있습니다.</p><p>&nbsp;</p><p>저렴한 SKELP로 구하고 있으니 쪽지나 이메일로 연락주시면 </p><p>&nbsp;</p><p>바로 연락드리겠습니다.</p><p>&nbsp;</p><p>새해 복 많이 받으세요~</p>
                            </div>
                        </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 57.4448529411765px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <button class="btn btn-xs btn-danger pull-left">
                            <i class="icon-arrow-right"></i>
                            <span class="bigger-110">Redirect Origin</span>
                        </button>

                        <button class="btn btn-xs btn-success pull-right">
                            <span class="bigger-110">Edit</span>
                            <i class=" icon-edit"></i>
                        </button>
                    </div>
                </div></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="widget-box">
            <div class="widget-header widget-header-smal header-color-dark">
                <h7>EG 1.2, 1.6 SKELP 삽니다!!</h7>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class=""></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main padding-4">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><div class="slim-scroll" data-height="200" style="overflow: hidden; width: auto; height: 200px;">
                            <div class="content">
                                <p>재질은 내지문이고 폭은 130이상으로 구하고있습니다.</p><p>&nbsp;</p><p>저렴한 SKELP로 구하고 있으니 쪽지나 이메일로 연락주시면 </p><p>&nbsp;</p><p>바로 연락드리겠습니다.</p><p>&nbsp;</p><p>새해 복 많이 받으세요~</p>
                            </div>
                        </div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 57.4448529411765px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
                    </div>
                    <div class="widget-toolbox padding-8 clearfix">
                        <button class="btn btn-xs btn-danger pull-left">
                            <i class="icon-arrow-right"></i>
                            <span class="bigger-110">Redirect Origin</span>
                        </button>

                        <button class="btn btn-xs btn-success pull-right">
                            <span class="bigger-110">Edit</span>
                            <i class=" icon-edit"></i>
                        </button>
                    </div>
                </div></div>
        </div>
    </div>
</div>