
<div class="widget-box transparent">
    <div class="widget-header widget-header-flat ">
        <h4 style="float: left;">
            <i class="icon-signal"></i>
            数据列表

        </h4>


        <form class="form-search">
                <div class="col-xs-6 center" style="float: left;">
                    <div class="input-group">
                        <input type="text" class="form-control search-query" placeholder="Type your query">
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-purple btn-sm">
                                                                            Search
                                                                            <i class="icon-search icon-on-right "></i>
                                                                        </button>
																	</span>
                    </div>
                </div>
        </form>

        <div class="widget-toolbar action-buttons">
            <a href="#" data-action="reload">
                <i class="icon-refresh blue"></i>
            </a>

            &nbsp;
            <a href="#" class="pink">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="piechart-placeholder" style="width: 100%; min-height: 100px; padding: 0px; position: relative;">
                <p>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="center">
                                        <label>
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>Company Name</th>
                                    <th>Company Tel</th>
                                    <th class="hidden-480">Company fax</th>


                                    <th class="hidden-480">Contract Person</th>

                                    <th class="hidden-480">Contract Phone</th>

                                    <th class="hidden-480">Contract E-Mail</th>

                                    <th>
                                        <i class="icon-time bigger-110 hidden-480"></i>
                                        Update
                                    </th>

                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <a href="#">ace.com</a>
                                    </td>
                                    <td>$45</td>
                                    <td class="hidden-480">3,330</td>
                                    <td>Feb 12</td>

                                    <td class="hidden-480">
                                        <span class="label label-sm label-warning">Expiring</span>
                                    </td>
                                    <td class="hidden-480">
                                        <span class="label label-sm label-warning">Expiring</span>
                                    </td>
                                    <td class="hidden-480">
                                        <span class="label label-sm label-warning">Expiring</span>
                                    </td>

                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-success">
                                                <i class="icon-ok bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-info">
                                                <i class="icon-edit bigger-120"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /span -->
                </div>
                <div class="row"><div class="col-sm-6"><div class="dataTables_info" id="sample-table-2_info">Showing 1 to 23 of 23 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#"><i class="icon-double-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li class="next disabled"><a href="#"><i class="icon-double-angle-right"></i></a></li></ul></div></div></div>
                </p>
            </div>


        </div><!-- /widget-main -->

    </div><!-- /widget-body -->
</div><!-- /widget-box -->

